<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Grocery</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7">
	     </script>
	  <script src="https://mrrio.github.io/jsPDF/dist/jspdf.debug.js"></script>
    {{content-for 'head'}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/newgrocery.css">

    {{content-for 'head-footer'}}
  </head>
  <body>
    {{content-for 'body'}}

    <script src="assets/vendor.js"></script>
    <script src="assets/newgrocery.js"></script>

    {{content-for 'body-footer'}}
  </body>
</html>
